pipeline/until file exist.json
{
	"name": "until file exist",
	"properties": {
		"activities": [
			{
				"name": "Until file exist loop",
				"type": "Until",
				"dependsOn": [],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@variables('fileExist')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Get Metadata archivo country csv",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_blob_country",
									"type": "DatasetReference"
								},
								"fieldList": [
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "If Condition file exist",
							"type": "IfCondition",
							"dependsOn": [
								{
									"activity": "Get Metadata archivo country csv",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"userProperties": [],
							"typeProperties": {
								"expression": {
									"value": "@activity('Get Metadata archivo country csv').output.exists",
									"type": "Expression"
								},
								"ifFalseActivities": [
									{
										"name": "Wait 30 seconds",
										"type": "Wait",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"waitTimeInSeconds": 30
										}
									}
								],
								"ifTrueActivities": [
									{
										"name": "Set variable file exists true",
										"type": "SetVariable",
										"dependsOn": [],
										"userProperties": [],
										"typeProperties": {
											"variableName": "fileExist",
											"value": true
										}
									}
								]
							}
						}
					],
					"timeout": "7.00:00:00"
				}
			}
		],
		"variables": {
			"fileExist": {
				"type": "Boolean"
			}
		},
		"annotations": [],
		"lastPublishTime": "2021-04-27T02:14:12Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}